{% extends 'base.html' %}
{% load static %}
{% block homepage %}



	<div class="container">
  <h2>All Product List</h2>
  <div class="row">
    {% for product in products %}
      <div class="col-md-4">
        <div class="card mb-4">
          <img src="https://images.unsplash.com/photo-1523275335684-37898b6baf30?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=799&q=80" class="card-img-top" alt="{{ product.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-price">Price: ${{ product.price }}</p>
            <a href="{% url 'product_detail' product.id %}" class="btn btn-primary">Buy</a>
            <a href="{% url 'add_to_cart' product.id %}" class="btn btn-success">Add to Cart</a>
          </div>
        </div>
      </div>
    {% empty %}
      <p>No products available</p>
    {% endfor %}
  </div>
</div>

{% endblock %}
